$secundaryColor: #E9C1D7;
$primaryColor: #ECD4C6;
$accentColor: #672A5F;
$primaryColor1: #D4C0D3;
$durazno: #EBDFEA;
$negro: #0a000a;
body{
    background-image: linear-gradient(to right, $primaryColor1 , $primaryColor);
}
.navColor{
    
    background-image: linear-gradient(to right, $primaryColor1 , $primaryColor);

}

.footer{
    background-color: $accentColor;
    font-family: 'Courier New', Courier, monospace;

}
.footerEspaciador{
    background-color: $accentColor;
    max-width: 100%;
    height: 5vh;


}

.footerFinal{
    background-color: $accentColor;
    max-width: 100%;
    height: 12.5vh;
    
    }
    .footer__borderR{
    background-color: $accentColor;
    }
    
    .footerTipografia{
    color: $durazno;
    font-size: 20px;
    text-decoration: none;
    justify-content: center;
    align-content: center;
    
    }
    .footerPreguntas{
        @extend .footerTipografia;
        color: $durazno;
        font-weight: bolder;
        
    }
    .footerLinea{
        height: 0.25vh;
        background-color: white;
        max-width: 100%;
    }   
    .hoverNegro :hover{
        color: $negro;
        text-decoration: none;}
    .hoverBlanco :hover{
        color: $durazno;
        text-decoration: none;
    }
    .hoverAccent :hover{
        color: $accentColor;
        text-decoration: none;
    }
     



    .navTipografia{
        
        font-size: 20px;
        text-decoration: none;
        justify-content: center;
        align-content: center;
        color: $accentColor;
        
    }
    .navHover :hover{
        color: $accentColor;
        text-decoration: underline $accentColor;
        }
    .navDropdown--background{
        background-image: linear-gradient(to right, $primaryColor1 , $primaryColor);
    }    
    
    .containerInicio{
        height: 70vh;
        }


//Carrito y elementos del carrito




#listaProductos {
     
    display: flex;
    flex-wrap: wrap;
    
    
}

#listacarrito {
    
    display: flex;
    flex-wrap: wrap;
    
}

.producto {
    background-color: $primaryColor1;
    width: 320px;
    height: 500px;
    
    
    border: 2px solid $negro;
    color: $negro;
    font-family: Arial, Helvetica, sans-serif;
    
}
.producto--titulo{
    font-size: 24px;
    color:  $negro;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.producto--imagen{
    text-align: center;
    width: 300px;
    height: 240px;
    border: 1px solid ;
}

.elementoCarrito {
    background-color: $accentColor;
    width: 300px;
    height: 150px;
    align-items: center;
    border: 2px solid $negro;
    color: $durazno;
    font-family: Arial, Helvetica, sans-serif;
}
.elementoCarrito--tipografia{
    font-size: 20px;
    font-weight:600;
}
.botonColor{
    color: $durazno;
    background-color: $accentColor;
    font-weight: 600;
    
}
.totalTipografia{
    font-size: 24px;
    font-weight:600;
}
.talleTipografia{
    font: size 24px;
    font-weight:500;
}
.notificacion {
    padding: 8px;
    color: white;
}

/*WhatsApp*/

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }